<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afra55.commontutils">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".zxing.activity.CaptureActivity" />
    </application>

</manifest>
